{% extends "tool_base.html" %}
{% load static %}

{% block head %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static "pld_style.css" %}?v0.2">
	<script type="text/javascript" src="{% static "pld_scripts.js" %}"></script>
	<title>Plate Layout Designer</title>
</head>
{% endblock %}

{% block content %}
<div id="body-div">
<h1>Plate Layout Designer (<a href="output">Show old data</a>)</h1>

<table border="0" id="layout">

<tr class="header">
	<th>*</th>
	<th colspan="2">1</th>	<th colspan="2">2</th>	<th colspan="2">3</th>	<th colspan="2">4</th>
	<th colspan="2">5</th>	<th colspan="2">6</th>	<th colspan="2">7</th>	<th colspan="2">8</th>
	<th colspan="2">9</th>	<th colspan="2">10</th>	<th colspan="2">11</th>	<th colspan="2">12</th>
</tr>

<tr class="layoutRow" id="row1"> <td>A</td>
<td><input type="text" id="1_a"></td><td><input type="text" id="1_b"></td>
<td><input type="text" id="2_a"></td><td><input type="text" id="2_b"></td>
<td><input type="text" id="3_a"></td><td><input type="text" id="3_b"></td>
<td><input type="text" id="4_a"></td><td><input type="text" id="4_b"></td>
<td><input type="text" id="5_a"></td><td><input type="text" id="5_b"></td>
<td><input type="text" id="6_a"></td><td><input type="text" id="6_b"></td>
<td><input type="text" id="7_a"></td><td><input type="text" id="7_b"></td>
<td><input type="text" id="8_a"></td><td><input type="text" id="8_b"></td>
<td><input type="text" id="9_a"></td><td><input type="text" id="9_b"></td>
<td><input type="text" id="10_a"></td><td><input type="text" id="10_b"></td>
<td><input type="text" id="11_a"></td><td><input type="text" id="11_b"></td>
<td><input type="text" id="12_a"></td><td><input type="text" id="12_b"></td></tr>

<tr class="layoutRow" id="row2"> <td>B</td>
<td><input type="text" id="13_a"></td><td><input type="text" id="13_b"></td>
<td><input type="text" id="14_a"></td><td><input type="text" id="14_b"></td>
<td><input type="text" id="15_a"></td><td><input type="text" id="15_b"></td>
<td><input type="text" id="16_a"></td><td><input type="text" id="16_b"></td>
<td><input type="text" id="17_a"></td><td><input type="text" id="17_b"></td>
<td><input type="text" id="18_a"></td><td><input type="text" id="18_b"></td>
<td><input type="text" id="19_a"></td><td><input type="text" id="19_b"></td>
<td><input type="text" id="20_a"></td><td><input type="text" id="20_b"></td>
<td><input type="text" id="21_a"></td><td><input type="text" id="21_b"></td>
<td><input type="text" id="22_a"></td><td><input type="text" id="22_b"></td>
<td><input type="text" id="23_a"></td><td><input type="text" id="23_b"></td>
<td><input type="text" id="24_a"></td><td><input type="text" id="24_b"></td></tr>

<tr class="layoutRow" id="row3"> <td>C</td>
<td><input type="text" id="25_a"></td><td><input type="text" id="25_b"></td>
<td><input type="text" id="26_a"></td><td><input type="text" id="26_b"></td>
<td><input type="text" id="27_a"></td><td><input type="text" id="27_b"></td>
<td><input type="text" id="28_a"></td><td><input type="text" id="28_b"></td>
<td><input type="text" id="29_a"></td><td><input type="text" id="29_b"></td>
<td><input type="text" id="30_a"></td><td><input type="text" id="30_b"></td>
<td><input type="text" id="31_a"></td><td><input type="text" id="31_b"></td>
<td><input type="text" id="32_a"></td><td><input type="text" id="32_b"></td>
<td><input type="text" id="33_a"></td><td><input type="text" id="33_b"></td>
<td><input type="text" id="34_a"></td><td><input type="text" id="34_b"></td>
<td><input type="text" id="35_a"></td><td><input type="text" id="35_b"></td>
<td><input type="text" id="36_a"></td><td><input type="text" id="36_b"></td></tr>

<tr class="layoutRow" id="row4"> <td>D</td>
<td><input type="text" id="37_a"></td><td><input type="text" id="37_b"></td>
<td><input type="text" id="38_a"></td><td><input type="text" id="38_b"></td>
<td><input type="text" id="39_a"></td><td><input type="text" id="39_b"></td>
<td><input type="text" id="40_a"></td><td><input type="text" id="40_b"></td>
<td><input type="text" id="41_a"></td><td><input type="text" id="41_b"></td>
<td><input type="text" id="42_a"></td><td><input type="text" id="42_b"></td>
<td><input type="text" id="43_a"></td><td><input type="text" id="43_b"></td>
<td><input type="text" id="44_a"></td><td><input type="text" id="44_b"></td>
<td><input type="text" id="45_a"></td><td><input type="text" id="45_b"></td>
<td><input type="text" id="46_a"></td><td><input type="text" id="46_b"></td>
<td><input type="text" id="47_a"></td><td><input type="text" id="47_b"></td>
<td><input type="text" id="48_a"></td><td><input type="text" id="48_b"></td></tr>

<tr class="layoutRow" id="row5"> <td>E</td>
<td><input type="text" id="49_a"></td><td><input type="text" id="49_b"></td>
<td><input type="text" id="50_a"></td><td><input type="text" id="50_b"></td>
<td><input type="text" id="51_a"></td><td><input type="text" id="51_b"></td>
<td><input type="text" id="52_a"></td><td><input type="text" id="52_b"></td>
<td><input type="text" id="53_a"></td><td><input type="text" id="53_b"></td>
<td><input type="text" id="54_a"></td><td><input type="text" id="54_b"></td>
<td><input type="text" id="55_a"></td><td><input type="text" id="55_b"></td>
<td><input type="text" id="56_a"></td><td><input type="text" id="56_b"></td>
<td><input type="text" id="57_a"></td><td><input type="text" id="57_b"></td>
<td><input type="text" id="58_a"></td><td><input type="text" id="58_b"></td>
<td><input type="text" id="59_a"></td><td><input type="text" id="59_b"></td>
<td><input type="text" id="60_a"></td><td><input type="text" id="60_b"></td></tr>

<tr class="layoutRow" id="row6"> <td>F</td>
<td><input type="text" id="61_a"></td><td><input type="text" id="61_b"></td>
<td><input type="text" id="62_a"></td><td><input type="text" id="62_b"></td>
<td><input type="text" id="63_a"></td><td><input type="text" id="63_b"></td>
<td><input type="text" id="64_a"></td><td><input type="text" id="64_b"></td>
<td><input type="text" id="65_a"></td><td><input type="text" id="65_b"></td>
<td><input type="text" id="66_a"></td><td><input type="text" id="66_b"></td>
<td><input type="text" id="67_a"></td><td><input type="text" id="67_b"></td>
<td><input type="text" id="68_a"></td><td><input type="text" id="68_b"></td>
<td><input type="text" id="69_a"></td><td><input type="text" id="69_b"></td>
<td><input type="text" id="70_a"></td><td><input type="text" id="70_b"></td>
<td><input type="text" id="71_a"></td><td><input type="text" id="71_b"></td>
<td><input type="text" id="72_a"></td><td><input type="text" id="72_b"></td></tr>

<tr class="layoutRow" id="row7"> <td>G</td>
<td><input type="text" id="73_a"></td><td><input type="text" id="73_b"></td>
<td><input type="text" id="74_a"></td><td><input type="text" id="74_b"></td>
<td><input type="text" id="75_a"></td><td><input type="text" id="75_b"></td>
<td><input type="text" id="76_a"></td><td><input type="text" id="76_b"></td>
<td><input type="text" id="77_a"></td><td><input type="text" id="77_b"></td>
<td><input type="text" id="78_a"></td><td><input type="text" id="78_b"></td>
<td><input type="text" id="79_a"></td><td><input type="text" id="79_b"></td>
<td><input type="text" id="80_a"></td><td><input type="text" id="80_b"></td>
<td><input type="text" id="81_a"></td><td><input type="text" id="81_b"></td>
<td><input type="text" id="82_a"></td><td><input type="text" id="82_b"></td>
<td><input type="text" id="83_a"></td><td><input type="text" id="83_b"></td>
<td><input type="text" id="84_a"></td><td><input type="text" id="84_b"></td></tr>

<tr class="layoutRow" id="row8"> <td>H</td>
<td><input type="text" id="85_a"></td><td><input type="text" id="85_b"></td>
<td><input type="text" id="86_a"></td><td><input type="text" id="86_b"></td>
<td><input type="text" id="87_a"></td><td><input type="text" id="87_b"></td>
<td><input type="text" id="88_a"></td><td><input type="text" id="88_b"></td>
<td><input type="text" id="89_a"></td><td><input type="text" id="89_b"></td>
<td><input type="text" id="90_a"></td><td><input type="text" id="90_b"></td>
<td><input type="text" id="91_a"></td><td><input type="text" id="91_b"></td>
<td><input type="text" id="92_a"></td><td><input type="text" id="92_b"></td>
<td><input type="text" id="93_a"></td><td><input type="text" id="93_b"></td>
<td><input type="text" id="94_a"></td><td><input type="text" id="94_b"></td>
<td><input type="text" id="95_a"></td><td><input type="text" id="95_b"></td>
<td><input type="text" id="96_a"></td><td><input type="text" id="96_b"></td></tr>

</table>

<br>

<div class="menuSystem">

<form name="myForm" method="post" action="generate_files/" onSubmit="return validateForm()">
{% csrf_token %}

<textarea class="samples" id="sampleEntry" rows="10" cols="50"></textarea>
<textarea class="primers" id="primerEntry" rows="10" cols="50"></textarea>
<textarea class="manualFields" name="manualFields" id="manualFields" rows="10" cols="50">
Final layout goes here.
</textarea>

<div class="col1">

	<h3>User Information</h3>

	<label for="userName">Username</label><input type="text" class="plateInfo" name="userName" id="userName"><br>
	<label for="plateID">Plate ID</label><input type="text" class="plateInfo" name="plateID" id="plateID"><br>
	<label for="emailAddress">Email address</label><input type="text" class="plateInfo" name="emailAddress" id="emailAddress"><br>
	<label for="sequencingMachine">Sequencing machine</label>

	<select class="machineSelection" name="sequencingMachine" id="sequencingMachine" onchange="populate()">
	        <option value="A"></option>
	        <!-- This has been edited out because the sfu machine broke. <option value="B">3130XL (SFU)</option> -->
	        <option value="C">3730XL (St. Pauls)</option>
	</select>
</div>

<div class="col23">

	<h3>Layout Parameters</h3>

	<div class="col2">
		<input type="radio" name="layoutAlignment" value="leftToRight" onchange="populate()" checked>Horizontal<br>
		<input type="radio" name="layoutAlignment" value="upToDown" onchange="populate()">Vertical<br>
		<input type="radio" name="layoutAlignment" value="6primers" onchange="populate()">16 samples + 6 Primers<br>
		<input type="radio" name="layoutAlignment" value="4primers" onchange="populate()">24 samples + 4 primers<br>
	</div>

	<div class="col3">
        	<select class="primerSetSelection" name="combinatoric" id="combinatoric" onchange="populate()">
                	<option value="A">A</option>
                	<option value="B">B</option>
        	</select>	
	</div>
</div>

<br>

<button type="button" class="b1" onClick="populate()">Populate</button>
<button type="button" class="b1" onClick="clearFields()">Reset</button>
<button type="button" class="b2" onClick="dumpTable()">Update FROM table</button>
<input type="submit" class="b3" name="subbtn" value="Submit">
<p style="color: grey; font-size: 0.6em;">Note: All data from the old version of this tool has been copied into this tool's "Old_Archived_Layouts" folder.</p>
</form>
</div>

</div>
{% endblock %}
